$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #54483a;
$color-gray-dark-2: #6d5d4b;
